In [1]:
t = (1,2,3,4,5)

print(type(t))

l = list(t)

print(l)
print(type(l))

<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
L = [1,3,5,7]
T = (8,6,4,2)
L.extend(T)

LS = L

print(LS)

[1, 3, 5, 7, 8, 6, 4, 2]

In [6]:
l = ['a','d','c','A','C']

l.reverse()
print(l)

['C', 'A', 'c', 'd', 'a']

In [15]:
L = [10,11,20,21,30,31,40,41]

A = L[1::2]
print(A)

[11, 21, 31, 41]

In [16]:
L = [1,2,3]

L1 = L.copy()
print(L1)
L2 = list(L1)
print(L2)
L3 = L[:]
print(L3)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [18]:
n_list = ["Happy", [2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

a
5

In [29]:
odd = [2,4,6,8]
odd[0] = 1
print(odd)
odd[1:4] = [3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [31]:
odd = [1,3,5]
odd.append([7,9])
print(odd)
odd.extend([11,13])
print(odd)

[1, 3, 5, [7, 9]]
[1, 3, 5, [7, 9], 11, 13]

In [34]:
x = 1,2,3; print(type(x))
x = (1); print(type(x))
x = 1 ; print(type(x))
x = 1, ; print(type(x))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [41]:
t = tuple('string')
print(t)
print(t[::1])
print(t[::2][::-2])

('s', 't', 'r', 'i', 'n', 'g')
('s', 't', 'r', 'i', 'n', 'g')
('n', 's')

In [46]:
t = tuple([10,20,30,40,50,60])
print( 60 in t )
print( '60' in t )
print(t.count(10))
print(t.count(40))

True
False
1
1

In [57]:
t = []
for i in range(20,0,-5):
    t.append(i)
t = tuple(t)
print(t,type(t))

(20, 15, 10, 5) <class 'tuple'>

In [61]:
t = 'string'
l = list(t)
print(l)

['s', 't', 'r', 'i', 'n', 'g']

In [64]:
print(type('1,2'.split()))
print(type([1,3,2].sort()))
print(type( 'abc'.upper()))
print(type(1 in [1,2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>